.specials-menuitem {
    width: 100%;

    margin: 2.5rem 0;
}

.specials-menuitem-head {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__name {
        flex: 1;
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        /* identical to box height, or 30px */

        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
    }

    &__line {
        width: 120px;
        margin: 0 1rem;
        height: 2px;
        background: var(--color-gray);
    }

    &__price {
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        /* identical to box height, or 30px */

        text-align: center;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
    }
}

.specials-menuitem-sub {

    font-family: var(--font-alt);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    /* identical to box height, or 28px */
    letter-spacing: 0.04em;
}

@media screen and (max-width:650px) {
    .specials-menuitem {
        padding: 0 2rem;
    }
}