.header {
    background: var(--color-black);
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    font-family: var(--font-base);
    padding: 7.5rem;

    &__image {
        display: flex;
        justify-content: center;

        img {
            width: 80%;
            height: auto;
            object-fit: cover;
        }
    }

    &__wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__sub-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 175%;

        letter-spacing: 0.04em;
    }

    &__menu-btn {
        margin-top: 32px;
        width: 170px;
    }
}

@media screen and (min-width: 2000px) {
    .header {

        h1 {
            font-size: 180px;
            line-height: 210px;
        }
    }
}

@media screen and (max-width: 1150px) {
    .header {
        padding: 7.5rem 2rem;

        h1 {
            font-size: 90px;
        }
    }
}

@media screen and (max-width:801px) {

    .header {
        flex-direction: column;
        align-items: center;

        gap: 3rem;

        &__wrapper {
            width: 80%;
        }
    }

}

@media screen and (max-width: 650px) {
    .header h1 {
        font-size: 70px;
        line-height: 87px;
    }
}

@media screen and (max-width: 450px) {
    .header h1 {
        font-size: 50px;
        line-height: 70px;
    }
}